.loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  z-index: 9999;
}

.loader {
  font-weight: bold;
  font-family: monospace;
  font-size: 62px;

  background: radial-gradient(circle closest-side, #000 94%, transparent) right / calc(200% - 1em) 100%;

  animation: l24 1.5s infinite alternate ease-in-out;
}

.loader::before {
  content: "Loading...";
  line-height: 1em;
  color: transparent;
  background: inherit;
  background-image: radial-gradient(circle closest-side, #fff 94%, #000);
  -webkit-background-clip: text;
  background-clip: text;
}

@keyframes l24 {
  100% {
    background-position: left;
  }
}